
bin
obj
csx
.vs
edge
Publish
.vscode

*.user
*.suo
*.cscfg
*.Cache
project.lock.json

/packages
/TestResults

/tools/NuGet.exe
/App_Data
/secrets
/data
.secrets
appsettings.json

#paket
.paket/paket.exe

#OSX nonsense
.DS_Store
._.DS_Store
[Dd]ocs/._*.xlsx
